<%# code to show the main heading with the content from the title parameter
passed in the server.js render function for the error handling %>
<h1><%- title %></h1>

<%# code to show the main error message %> 
<%- message %>
